################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CPU_Monitor/v15
/obj/Debug
/PS_CpuMonitor.csproj.user
